h1, h2, h3, h4, h5, h6 {
     text-align: center;
     color: rgb(214, 138, 88);
 }

.btn{
    background-color:rgb(216, 108, 108);

}

.h4{
    font-family:cursive;
}



table {
        width: 20px;
        height:30px;
        text-align: center;
        border: 5px solid rgb(196, 86, 86);
     }
     
     

     .ask-container{
        display: flex;
     }


     .submit-btn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
     }

.name-label{
   color: rgb(228, 135, 73);
}

.gif-container{
    display: flex;
    justify-content: center;
}


#logo-image{
    width: 100px;
    height: 100px;
    object-fit:contain;
    border-radius: 20px;
}